<footer class="footer">
  <div class="footer-content">
    <div class="brand">
      <h2>SB <span>NATURALLY</span></h2>
      <p>Votre beauté naturelle, notre passion.</p>
    </div>

    <div class="links">
      <h3>Navigation</h3>

      <a routerLink="/">Accueil</a>

      <a routerLink="/prestations">Prestations</a>

      <a routerLink="/about">À propos</a>

      <a routerLink="/contact">Contact</a>
    </div>

    <div class="contact">
      <h3>Contact</h3>
      <p>📱 WhatsApp</p>
      <a href="https://wa.me/+33781512693" target="_blank">
        <p>Réserver maintenant</p>
      </a>
    </div>
  </div>

  <div class="copyright">
    <p>© 2026 SB NATURALLY — Tous droits réservés - Créé par Yayou 💻🔥</p>
  </div>
</footer>
