/* GLOBAL STYLES SB NATURALLY */

/* Reset simple */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base body */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #FAF7F2;
  color: #6b6258;
  scroll-behavior: smooth;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Buttons reset */
button {
  border: none;
  cursor: pointer;
}

/* Scrollbar (option luxe) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #7C8B70;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #FAF7F2;
}