/* GLOBAL STYLES SB NATURALLY */

/* Reset simple */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base body */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #faf7f2;
  color: #6b6258;
  scroll-behavior: smooth;
  margin: 0;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Buttons reset */
button {
  border: none;
  cursor: pointer;
}
html,
body {
  min-height: 100%;
}

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* Scrollbar (option luxe) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #7c8b70;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #faf7f2;
}
.cdk-overlay-container {
  z-index: 99999 !important;
}

.mat-mdc-datepicker-content,
.mat-datepicker-content {
  background: white !important;
  opacity: 1 !important;
  border-radius: 24px !important;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25) !important;
}

.mat-calendar,
.mat-mdc-calendar {
  background: white !important;
  opacity: 1 !important;
  color: #5f574f !important;
}

.mat-calendar-body-cell-content {
  color: #5f574f !important;
}

.mat-calendar-body-selected {
  background: #7c8b70 !important;
  color: white !important;
}

.mat-calendar-period-button,
.mat-calendar-previous-button,
.mat-calendar-next-button {
  color: #7c8b70 !important;
}
