<nav class="navbar" [class.scrolled]="isScrolled">

  <div class="logo">
    SB NATURALLY
  </div>

  <button class="burger" (click)="open = !open">
    <mat-icon>{{ open ? 'close' : 'menu' }}</mat-icon>
  </button>

  <div class="menu" [class.active]="open">

    <a routerLink="/home">Accueil</a>

    <a routerLink="/prestations">Prestations</a>

    <a routerLink="/about">À propos</a>

    <a routerLink="/contact">Contact</a>

    <button mat-raised-button>
      Réserver
    </button>

  </div>

</nav>